* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    padding: 1rem;
    background: linear-gradient(to bottom, #f9f9f9, #99a4f3);

}

.header {
    border-bottom: 1px solid #ccc;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.fecha {
    font-size: 0.9rem;
}

.hamburguesa {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav {
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: #0077cc;
    color: #fff;
}

.contenido {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.noticia-principal img {
    width: 100%;
    height: auto;
}

.noticias-secundarias article {
    margin-top: 1rem;
}

.publicidades .ad {
    background-color: #eee;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .hamburguesa {
        display: none;
    }

    .nav {
        display: block;
        margin-top: 1rem;
    }

    .contenido {
        flex-direction: row;
        gap: 2rem;
    }

    .noticia-principal {
        flex: 2;
    }

    .noticias-secundarias {
        flex: 1;
    }

    .publicidades {
        flex: 1;
    }

    main.contenido {
        display: flex;
        flex-wrap: wrap;
    }
}

/* TABLET*/
@media (min-width: 600px) {
    .nav {
        display: block;
        margin-top: 1rem;
    }

    .nav-links {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .hamburguesa {
        display: none;
    }

    .contenido {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .noticia-principal {
        flex: 2;
    }

    .noticias-secundarias {
        flex: 1;
    }

    .publicidades {
        flex: 1 1 100%;
        display: flex;
        gap: 1rem;
    }

    .publicidades .ad {
        flex: 1;
    }
}

/* DESKTOP: >= 992px */
@media (min-width: 992px) {
    body {
        padding: 2rem 5rem;
    }

    .top-bar {
        flex-wrap: nowrap;
    }

    .contenido {
        gap: 3rem;
    }
}